<p>
  <strong>Name: </strong>
  <%= @vendor.name %>
</p>
<p>
  <strong>Phone: </strong>
  <%= @vendor.phone %>
</p>
<p>
  <strong>Text: </strong>
  <%= @vendor.text %>
</p>

<%= link_to "Back", vendors_path %>